.st2 {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px;
}
.v1 {
  background: #d4f4ff;
  padding: 10px;
  margin: 10px;
}
.mystyle1 {
  background: #fff0d4;
  padding: 10px;
  margin: 10px;
}
button {
  margin: 5px;
  padding: 5px 10px;
}
